@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Silkscreen&display=swap');


.container {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 38px;
    filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.wrapper {
    width: 310px;
    height: 650px;

}



.h1 {
    font-family: 'Silkscreen', sans-serif;
    color: rgba(255, 255, 255, 0.98);
    text-transform: uppercase;
    font-size: 1.8rem;
    margin: 5px;
}

.p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button_wrapper {
    margin-top: 18px;
}

.btn {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 12px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
}

.btn+.btn {
    margin-left: 10px;
}

.outline {
    background: transparent;
    color: rgba(0, 212, 255, 0.9);
    border: 1px solid rgba(0, 212, 255, 0.6);
    transition: all .3s ease;

}

.outline:hover {
    transform: scale(1.125);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;
}

.fill {
    background: rgba(0, 212, 255, 0.9);
    color: rgba(255, 255, 255, 0.95);
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease;
}

.fill:hover {
    transform: scale(1.125);
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
    transition: all .3s ease;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 254px;
    background: rgb(46, 44, 44);
    transition: all 300ms;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Example shadow effect */
    transition: 0.3s;
}

.card:hover {
    opacity: 0.8;
    /* box-shadow: black 100px; */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.banner_image {
    background-position: center;
    background-size: cover;
    height: auto;
    overflow: hidden;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    border: 1px solid rgba(255, 255, 255, 0.255);

}

.title {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background for the title */
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    /* Adjust padding as needed */
    white-space: nowrap;
    /* Prevents the text from wrapping */
    overflow: hidden;
    /* Hides text that overflows the container */
    text-overflow: ellipsis;
    /* Adds an ellipsis to indicate overflow */
    font-size: 12px;
    font-weight: 500;
}

@media (max-width: 778px) {

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 120px;
        background: rgb(46, 44, 44);
        transition: all 300ms;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        /* Example shadow effect */
        transition: 0.3s;
    }

    .card:hover {
        opacity: 0.8;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .banner_image {
        background-position: center;
        background-size: cover;
        height: auto;
        width: 100%;
        border-radius: 12px;
        object-fit: cover;
        border: 1px solid rgba(255, 255, 255, 0.255);
    }

    .title {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        /* Semi-transparent background for the title */
        color: white;
        width: 100%;
        text-align: center;
        padding: 5px 0;
        /* Adjust padding as needed */
        white-space: wrap;
        /* Prevents the text from wrapping */
        overflow: hidden;
        /* Hides text that overflows the container */
        text-overflow: ellipsis;
        /* Adds an ellipsis to indicate overflow */
        font-size: 5px;
        font-weight: 500;
    }

    /* Add mobile-specific styles here */
    .wrapper {
        width: 300px;
        height: 415px;

    }

    .container {
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.25);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        padding: 38px;
        filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }



    .h1 {
        font-family: 'Silkscreen', sans-serif;
        color: rgba(255, 255, 255, 0.98);
        text-transform: uppercase;
        font-size: 1rem;
    }
}