@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Silkscreen&display=swap');


.container {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 38px;
    filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 254px;
    background: rgb(46, 44, 44);
    transition: all 300ms;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Example shadow effect */
    transition: 0.3s;
    flex-direction: column;
}

.card:hover {
    opacity: 0.8;
    /* box-shadow: black 100px; */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.banner_image {
    background-position: center;
    background-size: cover;
    height: auto;
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid rgba(255, 255, 255, 0.255);

}

.title {
    /* Adjusted styles for the title */
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: justify;
    padding: 5px 0;
    font-size: 12px;
    /* Consider increasing this for readability */
    text-decoration: none;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center align the items if needed */
    width: 190px;
    /* Adjust width as needed */
}

@media (max-width: 778px) {

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
        background: rgb(46, 44, 44);
        transition: all 300ms;
        border-radius: 3px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        /* Example shadow effect */
        transition: 0.3s;
        flex-direction: column;
    }

    .card:hover {
        opacity: 0.8;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .card_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Center align the items if needed */
        width: 90px;
        border-radius: 5px;
        /* Adjust width as needed */
    }

    .banner_image {
        background-position: center;
        background-size: cover;
        height: auto;
        width: 100%;
        border-radius: 5px;
        object-fit: cover;
        border: 1px solid rgba(255, 255, 255, 0.255);
    }

    .title {
        /* Removed position: absolute; */
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        width: 90%;
        text-align: justify;
        padding: 5px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 5px;
        text-decoration: none;
        font-weight: 500;
    }
}