.img_wrapper {
    display: flex;
    justify-content: center;
    /* background-image: url('/levon-vardanyan-_EpaiWp5yC8-unsplash.jpg');
    background-size: cover;
    mix-blend-mode: overlay; */
    border-radius: 20px;

}

.update {
    border-radius: 20px;
    /* Increased border radius */
    /* backdrop-filter: blur(10px); */
    /* Added blur effect */
    font-size: 20px;
    margin: 10px;
    color: white;
    /* Increased font size */
}

.logo {
    display: flex;
    border-radius: 10px;
    border-color: transparent;
    background-color: transparent;
    justify-content: center;
    margin: 2px 6px 0px;
}


.text {
    margin: 20px;
}

@media (max-width: 778px) {
    .img_wrapper {
        display: flex;
        justify-content: center;
        background-image: none;
        background-color: transparent;
        background-size: cover;
        border-radius: 20px;
        mix-blend-mode: normal;
        /* aspect-ratio: auto 250/525; */
        backdrop-filter: blur(1px);
    }

    .update {
        border-radius: 20px;
        backdrop-filter: blur(10px);
        font-size: 15px;
        margin: 10px;
        color: white;

    }

    .text {
        margin: 20px;
    }

}