.img_wrapper {
    display: flex;
    justify-content: center;
    background-image: url('/levon-vardanyan-_EpaiWp5yC8-unsplash.jpg');
    background-size: cover;
    mix-blend-mode: color-burn;

}

.update {
    border-radius: 20px;
    /* Increased border radius */
    mix-blend-mode: color-burn;
    backdrop-filter: blur(10px);
    /* Added blur effect */
    font-size: 20px;
    margin: 10px;
    /* Increased font size */
}

.text {
    margin: 20px;
}

@media (max-width: 778px) {
    .img_wrapper {
        display: flex;
        justify-content: center;
        background-image: url('/taylor-van-riper-yQorCngxzwI-unsplash.jpg');
        /* background-image: none; */
        background-color: transparent;
        background-size: cover;
        border-radius: 20px;
    }

    .update {
        border-radius: 20px;
        /* Increased border radius */
        backdrop-filter: blur(10px);
        /* Added blur effect */
        font-size: 15px;
        margin: 10px;
        color: white;
        /* Increased font size */
    }

    .text {
        margin: 20px;
    }

}