.container {
    display: grid;
    grid-template-columns: repeat(3, 30em);
    gap: 40px;
    justify-content: center;
}

@media (max-width: 778px) {

    /* Add mobile-specific styles here */
    .container {
        display: grid;
        grid-template-columns: repeat(1, 20em);
        gap: 40px;
        justify-content: center;
    }
}