@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Silkscreen&display=swap');

.container {
    display: grid;
    /* margin: 10px; */
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 0fr));
    justify-items: center;
    justify-content: center;
    text-decoration: none;
}

.loader_wrapper {
    display: contents;
    margin-top: 50%;
}

.title {
    display: flex;
    font-size: 70px;
    font-family: 'Silkscreen', sans-serif;
    font-weight: bold;
    justify-content: center;
}

.body {
    background-size: cover;
}


.cropped_image {
    width: 350px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.9);
}

@media (max-width: 778px) {

    /* Add mobile-specific styles here */
    .title {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        backdrop-filter: blur(20px);
        border-radius: 10px;
        color: aliceblue;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 0fr));
        /* gap: 10px; */
        justify-content: center;
    }

    .search_bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px 35px 10px 35px;
    }
}